@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
*{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}