/* 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
*{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

body{
    background-image: url(/img/head/background.jpg); 
     background-color: #cccd94;
    background-repeat: no-repeat;
    height: 78vh;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(20px);
    background-color:#fff ; 
 



.product-wrapper{

width: 100%;
background-color: #fff;


}

.product-container{

max-width: 1600px;
margin: auto;
display: grid;
grid-template-columns: repeat(4,1fr);
place-items: center;
background-color: #fff;
} 

.product-box{
width: 300px;
height: 400px;

.product-box{
width: 550px;
height: 470px;

background-color: white;
position: relative;
margin: 10px 0;
transition: .3s;
cursor: pointer;
overflow: hidden;


}
.product-box img{


<<<<<<< HEAD
width: 325px;
height: 325px;



}
=======
width: 350px;
height: 300px;
padding: 10px ;
>>>>>>> b5d3b632292faaa96b5c07c0c4508a7099672afc


} 




.product-box p{

font-size: 20px;
font-weight: bold;
color: #313131;
margin: 10px 0;


}
.product-box span{

font-weight: bold;
margin: 0 px;
color: #000;

}







.product-box span strike{
color: #525252;
}

.product-offer{
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #000;
    color: #fff !important;
    width: 45px;
    height: 25px;
    border-radius: 5px;
    padding: 10px;
}



.after-add-cart-boxs{

display: flex;
justify-content: space-evenly;
align-items: center;
align-items: center;

}

.cart-box1{
<<<<<<< HEAD
width: 50px;
height: 50px;
=======
width: 10px;
height: 10px;
>>>>>>> b5d3b632292faaa96b5c07c0c4508a7099672afc
background-color: #292929;
color: white;
border-radius: 10px;
display: flex;
justify-content: space-evenly;
align-items: center !important;
padding: 10px;
position: relative;
bottom: -3px;
transition: .3s;


}

.cart-box1 i{
font-size: 18px;

}
<<<<<<< HEAD
.product-box:hover .cart-box1{
=======
.cart-box1:hover .cart-box1{
>>>>>>> b5d3b632292faaa96b5c07c0c4508a7099672afc

transform: translateY(-155px);

}
.cart-box1:hover{

background-color: #dadada;
color: #0a4a5a;
cursor: pointer;

}

.cart-box1 p{

color: #fff;
font-size: .13px;

}


.cart-box2{
    width: 10px;
    height: 10px;
    background-color: #292929;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center !important;
    padding: 10px;
    position: relative;
    bottom: -3px;
    transition: .3s;
    
    }
    
    .cart-box2  i{
    font-size: 18px;
    
    }
    .cart-box2:hover .cart-box2{
    
    transform: translateY(-155px);
    
    }
    .cart-box2 :hover{
    
    background-color: #dadada;
    color: #0e5870;
    cursor: pointer;
    
    }


    .cart-box2 p{
    
    color: #fff;
    font-size: 13px;
    }


    .cart-box3{
        width: 10px;
        height: 10px;
        background-color: #292929;
        color: white;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center !important;
        padding: 10px;
        position: relative;
        bottom: -3px;
        transition: .3s;
        
        }
        
        .cart-box3 i{
        font-size: 18px;
        
        }
        .cart-box3:hover .cart-box3{
        
        transform: translateY(-155px);
        
        }
        .cart-box3 :hover{
        
        background-color: #dadada;
        color: #000;
        cursor: pointer;
        
        }
        
        .cart-box3 p{
        
        color: #fff;
        font-size: 13px;
        
        }
        
        
        
         */
        
        
        
        
        
        
         
    
    
    
    
    
    
    
    
     







.cart-box2{
  width: 50px;
  height: 50px;
  background-color: #292929;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center !important;
  padding: 10px;
  position: relative;
  bottom: -15px;
  transition: .3s;
  align-items: center;
  
  }
  .cart-box2 i{
  font-size: 18px;
  
  }
  .product-box:hover .cart-box2{
  
  transform: translateY(-155px);
  
  }
  .cart-box2:hover{
  
  background-color: #dadada;
  color: #000;
  cursor: pointer;
  
  }
  
  .cart-box2 p{
  
  color: #fff;
  font-weight: 13px;
  
  
  }






.cart-box3{
width: 50px;
height: 50px;
background-color: #292929;
color: white;
border-radius: 10px;
display: flex;
justify-content: space-evenly;
align-items: center !important;
padding: 10px;
position: relative;
bottom: -15px;
transition: .3s;
align-items: center;

}
.cart-box3 i{
font-size: 18px;

}
.product-box:hover .cart-box3{

transform: translateY(-155px);

}
.cart-box3:hover{

background-color: #dadada;
color: #000;
cursor: pointer;

}

.cart-box3 p{

color: #fff;
font-weight: 13px;


}

 








<<<<<<< HEAD
 /* .product-container{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 4%;


} 



.product-box{
    height: 415px;
    overflow: hidden;
    margin: 30px 0;
    position: relative;


}

.product-hover .after-add-cart-boxs{

transform: translate(-10px);


}

.product-hover .product_img{

    height: 250px;

}
.product-img{
width: 250px;
height: 300px;
background-color: #efefefb1;
transition: all .5s ease-in-out;
}

.product-img img{

overflow: hidden;
width: 100%;
height: 100px;
object-fit: cover;
transition: all .5s ease-in-out;

}

.product_img span{
position: absolute;
top: 5%;
left: 5%;
background-color: #000;
color: #afff;
border-radius: 5px;
padding: 5px;
font-size: 15px;
z-index: 99;
opacity: 1 !important;
}

.product p{

margin: 10px 0;
transition: all 5s ease-in-out;


}

.product p strike{

    color: #303030;
    margin: 0 5px;
}
.product p span{
color: #000;
font-size: 20px;
font-weight: 500;

} 


<<<<<<< HEAD

}
.icons_sec h3
nav .login_signup a{
  color: var(--dark-color);
  padding: 10px 20px;
  background-color: var(--main-color);
  margin-left: 10px;
  border: 5px solid var(--dark-color); /* تم تحسين البوردر */
  /* text-decoration: none; /* يزيل الخط السفلي للرابط */
  /* border-radius: 8px; /* يضيف زوايا مستديرة للحدود */
  /* display: inline-block; /* يضمن أن الحجم يتأثر بـ padding */

/* / */
      
       
=======
 
 
>>>>>>> b5d3b632292faaa96b5c07c0c4508a7099672afc
